.category-list {
  margin-bottom: 10px;
  width: 100%;

  thead {
    background: linear-gradient(90deg, #3884FF 0%, #43D3C6 100%);
    background-origin: border-box;
  }

  thead th {
    color: white;
  }

  td,
  th {
    @extend .list-cell;
  }

  td {
    vertical-align: top;
  }

  th {
    vertical-align: middle;
  }

  td:first-of-type {
    padding-left: 10px;
  }

  &.with-topics {
    border-left: 5px solid #3884FF;
    border-radius: 5px 5px 0 0;
    // margin-left: 3px; 
    .category {
      width: 45%;
    }
  }

  .topics .badge-notification,
  .category .badge-notification {
    background-color: transparent;
    color: dark-light-choose($primary-medium, $secondary-high);
  }

  .topics {
    width: 80px;
    text-align: right;

    .value {
      font-size: 12px;
    }
    .unit {
      font-size: $font-down-1;
    }
    .badge-notification {
      display: block;
      text-align: right;
      padding-right: 0;
      margin-top: 5px;
    }
  }

  .subcategories {
    margin-top: 0.25em;
    clear: both;
    .subcategory {
      display: inline-flex;
      align-items: baseline;
      margin-right: 0.3em;
    }
    .badge-wrapper {
      margin-right: 0.5em;
    }
    .badge-notification.new-posts {
      display: block;
      padding: 0;
    }
  }

  .featured-topic {
    margin: 10px 0 0;
    display: flex;
    align-items: baseline;
    &:first-of-type {
      margin-top: 9px;
    }
    a.last-posted-at,
    a.last-posted-at:visited {
      font-size: 10px;
      color: dark-light-choose($primary-medium, $secondary-high);
      position: absolute;
      right: 10px;
      line-height: 24px;
    }
    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 24px;

      color: #828282;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 0 1 auto;
    }
    .topic-statuses {
      margin-right: 0.15em;
    }
    .topic-post-badges .badge.new-posts,
    .title {
      margin-right: 5px;
    }
  }

  tbody {
    .category {
      border-left: 6px solid;
      h3 {
        font-size: $font-up-2;
        color: inherit;
        line-height: $line-height-medium;
        a[href] {
          color: $primary;
        }
      }
    }

    .latest {
      padding: 0 0 10px 10px;
    }
  }
}

.categories-and-latest,
.categories-and-top {
  display: flex;
  flex-flow: row wrap;

  div.column {
    flex: 1 0 0px;
    flex-direction: row;
    min-width: 300px;
  }

  div.column.categories {
    @media all and (max-width: 600px) {
      margin-right: 0;
    }
    @media all and (min-width: 600px) {
      margin-right: 1em;
    }
    @media all and (min-width: 700px) {
      margin-right: 2em;
    }
  }

  .discourse-tags {
    display: inline-block;
    .discourse-tag {
      font-size: $font-down-1;
    }
  }

  .topic-featured-link {
    padding-left: 8px;
  }
}
